spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
  logging:
    file:
      path: ./logs/smarter-store-local/ # Local logs can be relative to project root

jwt:
  secret: ${JWT_SECRET_LOCAL} # A simpler secret for local development

cors:
  allowed-origins: http://localhost:3000, http://localhost:5173, http://127.0.0.1:3000, http://127.0.0.1:5173

cookie:
  secure: false
